@import './colors.css';
@import './general.css';
@import './mediaQuery.css';
@import './episode.css';
@import './navegation.css';

.body-background {
    width: 100%;
    height: 100vh;
    background-image: url('../imgaes/home.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Roboto', sans-serif;
}
.wrapper-header {
    grid-area: header;
    padding-bottom: 20px;
}
.wrapper-header .logo {
    display: block;
    margin: 0 auto;
    padding-top: 30px;
    width: 20%;
}
.title {
    color: white;
    font-size: 18px;
    font-weight: 500;
}
.date {
    color: white;
    font-size: 14px;
    font-weight: 300;
}
.pointer {
    cursor: pointer;
}