@import './colors.css';
@import './general.css';
@import './episode.css';
@import './navegation.css';
@import './mediaQuery.css';

.body-background {
    width: 100%;
    height: 100vh;
    background-image: url('../imgaes/home.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Roboto', sans-serif;
}
.wrapper-header {
    grid-area: header;
    padding-bottom: 20px;
}
.wrapper-header .logo {
    display: block;
    margin: 0 auto;
    padding-top: 30px;
    width: 20%;
}
.wrapper-main {
    grid-area: main;
}
.wrapper-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    height: 75vh;
    overflow: scroll;
    width: 100%;
    margin-top: 20px;
}
.wrapper-grid--column {
    padding: 20px 20px;
    margin: 10px;
    color: white;
    background-color: var(--background-segundary);
}
.title {
    color: white;
    font-size: 18px;
    font-weight: 500;
}
.date {
    color: white;
    font-size: 14px;
    font-weight: 300;
}
.text {
    color: white;
    font-size: 14px;
    font-weight: 300;
}
