
.wrapper-nav {
    grid-area: nav;
    transform-origin: left;
    display: flex;
    align-items: center;
    padding-bottom: 20px;
}
.wrapper-nav button {
    color: var(--color-main);
    border: none;
    background: none;
    font-weight: 300;
    padding-right: 20px;
    text-transform: uppercase;
}
.wrapper-nav button:hover {
    color: var(--color-main);
    text-shadow: 2px 2px 1px rgba(0,0,0,0.3), 0 0px 15px #fff, 0 0 10px #38eeff, 0 0 50px #38eeff;
}
.dot {
    display: none;
}
.line {
    width: 50px;
    height: 1px;
    margin-right: 20px;
    background-color: var(--color-main);
    display: inline-flex;

}